In [1]:
import numpy as np
import pandas as pd

data = np.random.rand(4, 4)

df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])

print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.169447   0.211451   0.821881   0.511502
1   0.637099   0.623625   0.692765   0.334040
2   0.303179   0.445215   0.188919   0.015743
3   0.762411   0.304100   0.866096   0.075413

In [2]:
new_column_names = {
    'Feature 1': 'Random value 1',
    'Feature 2': 'Random value 2',
    'Feature 3': 'Random value 3',
    'Feature 4': 'Random value 4'
}
df = df.rename(columns=new_column_names)


print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.169447        0.211451        0.821881        0.511502
1        0.637099        0.623625        0.692765        0.334040
2        0.303179        0.445215        0.188919        0.015743
3        0.762411        0.304100        0.866096        0.075413

In [3]:
statistics = df.describe()

print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.468034        0.396098        0.642415        0.234175
std          0.277832        0.179573        0.311146        0.230797
min          0.169447        0.211451        0.188919        0.015743
25%          0.269746        0.280938        0.566803        0.060496
50%          0.470139        0.374658        0.757323        0.204727
75%          0.668427        0.489818        0.832935        0.378405
max          0.762411        0.623625        0.866096        0.511502

In [4]:
null_values = df.isnull()
print("Null Values:")
print(null_values)

data_types = df.dtypes
print("\nData Types:")
print(data_types)

Null Values:
   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [5]:
loc = df.loc[:, ['Random value 2', 'Random value 3']]
print("Using .loc method:")
print(loc)

iloc = df.iloc[:, [1, 2]]
print("\nUsing .iloc method:")
print(iloc)

Using .loc method:
   Random value 2  Random value 3
0        0.211451        0.821881
1        0.623625        0.692765
2        0.445215        0.188919
3        0.304100        0.866096

Using .iloc method:
   Random value 2  Random value 3
0        0.211451        0.821881
1        0.623625        0.692765
2        0.445215        0.188919
3        0.304100        0.866096